.gallery h3{
  font-size: 31.25px;
  color:#da6c1a;
  text-align: center;
}

.galleryIntro p{
color:#F9E6B7;
text-align: center;
}

.imageCarousel{
/* flex-direction: row;
justify-content: space-evenly; */
display: grid;
grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  /* background-color: #fff; */
}

.imageBox img{
width: 600px;
height: inherit;
border-radius: 5px;
/* float: left; */
/* margin: 1rem; */
}
.image{
  width: 33.33%;
}