body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #241e1f
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.titleImage{
  width: 75%;
  margin: 2rem;
  max-height: 50rem;
}
.prices{
  /* background-color: #F9E6B7; */
  padding-bottom: 2rem;
  /* margin-left: 15rem; */
  /* margin-right: 15rem; */
}

.prices h3{
  font-family: 'Spartan', sans-serif;
  margin-left: 1rem;
  font-size: 2rem;
  margin-top: 0rem;
  color: #da6c1a;
  padding-top: 4rem;
}

.priceTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  font-family: 'Spartan', sans-serif;
  width: 900px;
  
}

.priceTable p{
  color: rgb(225, 223, 223);
  font-size: 16px;
  line-height: 20px;
}

.priceTable p:first-of-type{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 25px;
  font-weight: 700;
}
.priceTable .examples{
  max-width: 15rem;
  margin-right: 0rem;
  padding: 0rem;
}
.priceTable p{
   margin: 0rem;
  padding-top: 1.5rem;
}

.priceTable .standardPrices{
margin: 0rem;
padding: 0rem;
}

.priceTable .specials{
  margin: 0rem;
  padding: 0rem;
}

.banner{
  background-image: url(https://i.imgur.com/TjSMZnH.jpg);
  /* width: 100%; */
  background-size:cover;
  /* height: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
}

.banner div {
  height: 115px;
  width: inherit;
  margin-left: 5rem;
}

.banner .bannerBlock{
  font-size: 3rem;
  color: #fff;
  width: 40rem;
  /* background: #fff; */
}

.bannerBlock h3{
  /* text-decoration: 2px solid #241e1f; */
    /* -webkit-text-stroke: 1px black; */
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.banner .bannerTitle{
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 3;
}
.bannerButton{
  background-color: #da6c1a;
  width: 15rem;
  height: 3rem;
  margin-top: 2rem;
  border: .5rem solid #da6c1a;
  border-radius: .5rem;
  /* box-shadow: 2px 5px #5b4a4d; */
  font-size: 1.2rem;
  color: #241e1f;
}

.banner button{
  grid-row-start: 4;
  grid-row-end: 5;
 grid-column-start: 2;
 grid-column-end: 3;
}

.bannerButton:hover{
  background-color: #241e1f;
  border-color: #241e1f;
  color: #da6c1a;
  border: 2px solid #da6c1a;
}


.about{
  background-color: #241e1f;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0rem;
display: block;
padding-bottom: 2rem;
margin-bottom: 0rem; 
align-content: center;
}

.about h3{
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 3rem;
  text-align: center;
  color:#da6c1a;
  font-size: 31.25px;
  line-height: 36px;
}

.about p{
  text-align: center;
  margin: auto;
  width: 55%;
  font-size: 20px;
  line-height: 25px;
}

.about p:last-of-type{
margin-top: 2rem;
}

.services{
  background-color: #241e1f;
  color: #fff;
}

.services h3{
  margin-top: auto;
  font-size: 31.25px;
  line-height: 36px;
  font-family: 'Spartan', sans-serif;
  color:#da6c1a;
  text-align: center;
}

.services p{
  font-size: 16px;
}

.serviceCards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}
/* Media Query for Title Page */
@media only screen and (max-width: 54rem ){
  .serviceCards{
grid-template-columns: 1fr 1fr;
  }
}

.serviceCards img{
  width: 40%;
  height: inherit;
  border-radius: .5rem;
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.serviceCards div{
  background-color: #fff;
  margin: 1rem;
  color: #241e1f;
  border-radius: .5rem;
}

.serviceCards p{
  max-width: 20rem;
  padding: 1rem;
  margin-top: 0rem;
}

.FAQ{
  font-family: "Spartan", sans-serif;
  background-color: #241e1f;
  color: #fff;
}

.FAQ p{
  text-align: center;
  margin: auto;
  width: 50%;
font-size: 16px;
line-height: 26px;
}

.FAQ h3{
  margin-left: 1rem;
  padding-top: 1rem;
  color:#da6c1a;
  font-size: 32px;
  line-height: 40px;
}

.FAQ h4{
  margin-left: 1.5rem;
  text-align: center;
  color:#da6c1a;
  font-size: 24px;
  line-height: 32px;
}

.fqList{
  display: block;
  overflow: hidden;
  margin: 0rem;
  padding: 0rem;
  align-content: center;
}

.fqDescrip{
  margin-left: 2rem;
  max-width: 35rem;
  text-align: center;
}

.fqList li{
  list-style-type: none;
  margin: 1rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 16px;
  line-height: 24px;
  color:#F9E6B7;
}

.fQuestion:after{
    content: "\2193";
    margin-left: 1rem;
}

.fQuestionA:after{
  content: "\2191";
  margin-left: 1rem;
}

.fqAnswer{
  background-color:#241e1f;
  color:#da6c1a;
  max-width: 60rem;
  margin: auto;
  padding: 1.4rem;
  color: #fff;
  font-weight: 500;
  align-content: center;
}

.fqList p{
color:#fff;
font-size: 16px;
line-height: 26px;
}

.contact{
color: #F9E6B7;
}

.contact h3{
  margin-left: 2rem;
  color:#da6c1a;
  font-size: 39.06px;
  line-height: 42px;
}

.contact p{
  margin-left: 2.5rem;
  margin-bottom: 0rem;
}

.contactDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 70rem;
  /* margin: 3rem; */
  padding: 2rem;
  margin: auto;
  margin-top: 0rem;
}

.contactDiv div:hover h4, .contactDiv div:hover p, .contactDiv:hover a{
  color: #da6c1a;
}

.contactDiv h4{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contactDiv img{
  margin: auto;
  align-content: center;
}
.contactDiv p{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  align-content: center;
  margin: auto;
  margin-top: .8rem;
  color: #F9E6B7;



}
.contactDiv div{
  border-radius: .5rem;
  margin: 1rem;
  text-align: center;
} 

.contactDiv a{
  text-decoration: none;
  color: #F9E6B7;

}
/* .contactDiv div:last-of-type{

} */
.contactHours{
  align-items: center;
  margin: auto;
}
.contactHours p{
  align-content: center;
  margin: auto;
  display: block;
}
.colorSection{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.2rem;
  /* margin-bottom: 2rem; */
  margin: 2rem 2rem 4rem 2rem;
}
.colorSection div{
  border: 1px solid #da6c1a;
  grid-column: span 2;
}

.colorSection div:hover{
  background-color: #da6c1a;
  color: #fff;
  cursor: pointer;
}


.colorSection div h3{
  text-align: center;
}
.colorSection div a{
  text-decoration: none;
}

.colorSection div:hover h3{
  color: #fff;
  
}

.Logo{
  justify-content: center;
  margin: auto;
}
.Logo img{
  justify-content: center;
  margin: auto;
}
.colorSection .finalColors1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.colorSection .finalColors2{
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 4;
grid-row-end: 5;
}

.footer{
  /* position: absolute; */
  bottom: 0; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color:#da6c1a;
  margin: auto;
align-content: center;
font-size: 16px;
border-top: 2px solid #da6c1a;
height: 1rem;
}
.footer div{
  margin-top: 3rem;
}
.footer .copyright{
  /* margin-top: 1.4rem;
  margin-left: 1rem; */
}

/* .footer .footerI{

} */

.footer li{
  list-style: none;
}

.footer a{
  color:#da6c1a;
  text-decoration: none;
}
.footer div img{
background-size: cover;
width: 7%;
height: inherit;
margin-top: .7rem;
margin-left: .5rem;
}

.footer p img{
  background-size: cover;
  width: 7%;
  height: inherit;
  margin: auto;
  }

.footer p a{
text-decoration: none;
color:#da6c1a;
/* margin: auto; */
padding: 1rem .5rem 5rem .5rem;
}